Repository NavyD/navyd.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, actionlint, markdownlint-cli2, autocorrect-fix

uv-lock:
  name: uv-lock
  description: Automatically run 'uv lock' on your project dependencies
  entry: uv lock
  language: system
  args: []
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: Lint GitHub Actions workflow files
  description: Runs system-installed actionlint to lint GitHub Actions workflow files
  language: system
  entry: actionlint
  stages:
  - pre-commit

markdownlint-cli2:
  name: markdownlint-cli2
  description: Checks the style of Markdown/CommonMark files.
  entry: markdownlint-cli2
  language: system
  stages:
  - pre-commit

autocorrect-fix:
  stages:
  - pre-commit
  name: autocorrect-fix
  entry: autocorrect --fix
  language: system
  pass_filenames: true
  require_serial: true

ci: Add lint
  .act.event.json
  .actrc
  .github/workflows/ci.yaml
  mise.dev.toml
Due: actionlint

ci: Fixed uv could not be found
  .github/workflows/ci.yaml
  .github/workflows/gh-pages.yml
Due: actionlint

feat(post): Add three posts about ci
  content/posts/2025/02/ci practice/index.md
  content/posts/2025/02/daemon process in windows/index.md
  content/posts/2025/02/local github action practice/index.md
Due: markdownlint-cli2, autocorrect-fix

ci(lefthook): Fix a problem where filenames containing spaces don't work on windows
  lefthook.yaml
Due: none

feat(post): Add a post about string escaping systemd
  content/posts/2025/02/systemd string escaping/index.md
Due: markdownlint-cli2, autocorrect-fix

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  autocorrect-fix: any of: ^content/ and \.(md|markdown|mdown)$
